
body {
    background-color:rgb(248, 162, 2);
}

header {
    padding: 30px;
    text-align: center;
    background-color: rgb(195, 215, 231);
    color:#181717;
    top: 0;
}

img{
    height: 30px;
    width: 10px
}


#introducao {
    text-align: center;
}


#galeria-projetos {
    text-align: left;
}

#habilidades {
    text-align: right;
    padding-right: 40px
}


#link1 {
    padding-right: 0px;
}



















footer input{

image-resolution: 30px;


footer {
   position: fixed;
   left: 0;
   bottom: 0;
    width: 100%;
    background-color: rgb(195, 215, 231);
    color: #181717
}